/TSLeccion01/MundoPc/nbproject/private/
/TSLeccion01/MundoPc/build/
/TSLeccion02/ArgumentosVariables/nbproject/private/
/TSLeccion02/ArgumentosVariables/build/
/TSLeccion02/Enumeraciones/nbproject/private/
/TSLeccion02/Enumeraciones/build/
/TSLeccion02/BloquesInicializacion/nbproject/private/
/TSLeccion02/BloquesInicializacion/build/
/TSLeccion03/ForEach/nbproject/private/
/TSLeccion03/ForEach/build/
/TSLeccion03/AutoboxingUnboxing/nbproject/private/
/TSLeccion03/AutoboxingUnboxing/build/
/TSLeccion03/ModificadoresAcceso/nbproject/private/
/TSLeccion03/ModificadoresAcceso/build/
/TSLeccion04/Sobreescritura/nbproject/private/
/TSLeccion04/Sobreescritura/build/
/TSLeccion04/InstanceOf/nbproject/private/
/TSLeccion04/InstanceOf/build/
